@import url("main.css");

:root {
	font-size: 12pt;
}

#paper-and-controls-container {
	display: flex;
	justify-content: space-between;
}

#paper-controls-container {
	padding: 20px;
	width: 100%;
	background-color: var(--background-color);
	z-index: 1000;
	position: fixed;
	top: 0;
}

#metadata-paper-container {
	width: 75%;
	margin: 20px;
}

#metadata-container {
	margin-top: 50px;
}

#metadata-container .center-metadata {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#paper-container {
	line-height: 1.5;
}

#controls-container {
	width: 25vw;
}

#paper-container sup {
	font-size: 0.6em;
}

#paper-container .block-quote-inner {
	line-height: 1.25;
	margin-top: -15px;
	margin-left: 30px;
	margin-bottom: 10px;
	background: var(--background-color);
	white-space: pre-line;
}

#paper-container p {
	text-indent: 2em;
}

#footnotes-paragraphs-controller {
	z-index: 2000;
	background: var(--background-color);
	border: 1px solid black;
	width: 23vw;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	border: 1px solid var(--tertiary-color);
}

#new-paragraph-button-container {
	margin-top: 60px;
	z-index: 2000;
	background: var(--background-color);
	border: 1px solid var(--tertiary-color);
	width: 23vw;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	display: flex;
	justify-content: space-around;
}

#paragraphs-container {
	margin-top: 100px;
	position: fixed;
}

.footnote-holder {
	width: 22vw;
	box-sizing: border-box;
}

.footnote-element {
	width: 100%;
	margin-bottom: 5px;
	border: 1px solid var(--tertiary-color);
	padding: 4px;
	position: relative;
	background-color: var(--background-color);
	color: var(--text-color);
}

.footnote-element .footnote-number-and-text {
	width: 100%;
	height: 20px;
	background: var(--background-color);
}

.footnote-element .footnote-code-and-text {
	width: 100%;
}

.footnote-element.editing {
	z-index: 1000;
	background: var(--edit-color);
}

[contenteditable] {
	outline: none;
}

.paragraph {
	cursor: pointer;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 25px 25px;
	width: 22vw;
	height: 50px;
	padding: 5px;
	border: 1px solid var(--tertiary-color);
}

.paragraph .paragraph-name {
	text-align: center;
}

.paragraph .arrow {
	box-sizing: border-box;
	height: 25px;
	width: 25px;
	font-size: 20px;
	border: 1px solid black;
	text-align: center;
}

.paragraph .edit-button {
	height: 25px;
	text-align: center;
}

.paragraph .delete-button {
	height: 25px;
	text-align: center;
}

.bibliography {
	text-align: center;
	margin-top: 50px;
	margin-bottom: -35px;
}

.single-line-break {
	height: 10px;
	margin: 0;
	background: var(--background-color);
}
